<h2>Welcome to PWA Dealership Service Center </h1>

<p>Welcome <%= current_user.username %>! You currently have <a href="/user_items"><%= @newitems.count %></a> service requests with us. 

<p>To review your service request summary, <a href="/user_items"> click here</a> or click <a href="/dealerservices"> here to view our sevices </a></p>
</p> 

<p><a href="/logout">Log out</a></p>