<h2>Welcome to PWA Dealership Service Center </h1>

<p>Welcome <%= current_user.username %>. Currently have XXX of service requests with us. Click here to view our sevices</p>

<p><a href="/logout">Log out</a></p>