<h2>PWA New User Sign Up</h2>
<% if @error %>
  <p class="error"> <%= @error %></p>
<% end %>

<br /><br />
<form action="/signup" method="POST">
  Username: <input type="text" name="username" placeholder="Enter a username:">
  <br /><br />
  Email: <input type="email" name="email" placeholder="Enter email:">
  <br /><br />
  Password: <input type="password" name="password" placeholder="Enter a password:">
  <br /><br />
  <input type="submit" value="Sign Up">
</form>
